.div-form-center{
    max-width: 600px;
    margin:0 auto ;
    margin-top: 25px;
}
.link-return{
    margin-top:20px;
}

@media screen and (min-width:789px){
	
	
}
@media screen and (min-width: 1187px){
	
	

}