*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif !important;
    background-color: #efefef;
    /*font-family: 'Open Sans Condensed', sans-serif;*/

}

h1,h2,h3,h6{
    font-family: 'Montserrat Alternates', sans-serif;
}

h3 a{
    text-decoration: none;
    color: #2C3E50 !important;
}

a{
    text-decoration:none;
    color: white !important;
}

.retour-accueil {
    color: #2C3E50 !important;
}

.retour-page-toutes-news {
    color: #FFF !important;
}

a:link{
    text-decoration:none;
}

a:hover{
    text-decoration:none;
    color: #ff9d67!important;
}



/*a:link{
    background:#2C3E50 !important;
}
*/

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #ff9d67!important;
    color: #2C3E50 !important;
}

a:visited{
    background:transparent !important;
}

a:active{
    background:transparent !important;
}
.header-padding{
    padding-top: 100px;
}

.article{
    display: block;
}
  
.offre{
    background-color: #FFF;
    color: #2C3E50;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card.text-center {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 0.75rem;
}

.card-title{
    margin-bottom: .75rem;
    overflow-wrap: normal;
    font-size: 1.5rem;
}

.post{
    margin-left: 20px;
    margin-right: 20px;
}

.center{
    text-align: center !important;
}

/*
.starter-template {
    padding: 0.5rem 0.5rem;
    text-align: center !important;
}
*/

.rounded-circle {
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 50% !important;
}


/*DEBUT HEADER*/

.bouton-orange:hover{
    background-color:#2C3E50 !important;
    color: white !important;
}

/*FIN HEADER*/



/*PAGE INDEX*/

.subtitle-carousel {
  font-size: 1.5em;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #000;
  text-align: center;
  background-color: #FFF;
  opacity: 0.7;
}


/* bouton interactif en savoir plus sur une news*/

.desc-go-view{
	height: 40px;
	width: 130px;
	position: relative;
	float: right;
	margin-right: 5px;
}

.desc-go-view a{
	width: 130px;
	height: 40px;
	line-height: 40px;
	float: right;
	padding-left: 5px;
	text-decoration: none;
	display: block;
	color:#2C3E50 !important;
}

.btn-color1{
	background: url(images/fleche08_50x50.png)transparent no-repeat right;
	border: 2px solid #2C3E50;
	color: #2C3E50;
	z-index: 100;
}

.btn-color1:before{
	content:'';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 130px;
	height: 40px;
	background-color: rgba(0,0,0,.3);
	transform-origin: right;
	z-index: 0;
	transform:scaleX(0);
	transition:transform 0.8s;
}

.btn-color1:hover:before{
	transform-origin: left;
	transform:scaleX(1);
}


.container-btn{
	width: 100%;
	margin-top: 5px;
	height: 40px;
	margin-bottom: 5px;
}

/*FIN PAGE INDEX*/



/*DEBUT PAGE CONNECTION*/

.formulaire-min-height{
    min-height: 90vh;
}

.connection-padding{
    padding-top: 50px;
}

/*FIN CONNECTION*/



/*DEBUT FOOTER*/

.footer{
    color: #FFF !important;
    min-height:80px;
    background-color:#2C3E50 !important;
}

.footer div{
    padding-top: 20px;
}

.btn-footer:hover{
    color:black !important;
}

.text_socialnetworks{
	color: #2C3E50 !important;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	text-align: center;
	line-height: 10px;
}

.socialnetworks{
	font-size: 2rem;
	color: #2C3E50;
    margin: auto;
}

.socialnetworks a{
	font-size: 2rem;
	color: #2C3E50 !important;
    margin: auto;
} 

.socialnetworks a:hover{
	font-size: 2rem;
	color: #ff9d67 !important;
    margin: auto;
} 






.link-pdf a{
	color: #2C3E50 !important;
}

.link-pdf a:hover{
	color: #ff9d67 !important;
}

.link-mail a{
	color: #2C3E50 !important;
}

.link-mail a:hover{
	color: #ff9d67 !important;
}




#cookieChoiceInfo {
    font-size:18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

/*END FOOTER*/



@media (min-width:992px) {
.container {
    max-width: 960px;
}

.subtitle-carousel {
    font-size: 0.5em;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #000;
    text-align: center;
    background-color: #FFF;
    opacity: 0.7;
}

.carousel-caption {
    padding: 0px 0px;
    margin: 0px 0px;
}


.bouton-orange{
    color: #ff9d67 !important;
    border:1px solid;
    border-radius:8px;
    transition:.4s;
    margin-right:4px;
}
}	

@media (min-width: 768px) {
.container {
    max-width: 720px;
}	
}	

@media (min-width: 576px){
.container {
    max-width: 540px;
}	
}      